<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>Index</h1>

    {{#users}}
      <div class="robotSelection">
        <!-- can click on robot pic -->
        <a href="/index/{{id}}"><img src="{{avatar}}" alt=""></a>
        <h2>{{name}}</h2>
        <p>{{job}} {{company}}</p>
        <!-- if there isn't a company -->
        {{^company}}<p class="orange">Available for hire</p>{{/company}}
      </div>
    <!-- <table>
        <tr>{{name}}</tr>
        <tr>{{job}}</tr>
    </table> -->
    {{/users}}

  </body>
</html>
