<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Robots</h1>

    {{#users}}
      <div class="robotSelection">
        <!-- can click on robot pic -->
        <a href="/{{id}}"><img src="{{avatar}}" alt=""></a>
        <h2>{{name}}</h2>
        <p>{{job}} {{company}}</p>
        <!-- if there isn't a company -->
        <p>{{^company}}Available for hire{{/company}}</p>
      </div>
    <!-- <table>
        <tr>{{name}}</tr>
        <tr>{{job}}</tr>
    </table> -->
    {{/users}}

  </body>
</html>
